# Project exclude paths
/build-support/target/
/flume-ng-auth/target/
/flume-ng-channels/flume-file-channel/target/
/flume-ng-channels/flume-jdbc-channel/target/
/flume-ng-channels/flume-kafka-channel/target/
/flume-ng-channels/flume-spillable-memory-channel/target/
/flume-ng-channels/target/
/flume-ng-clients/flume-ng-log4jappender/target/
/flume-ng-clients/target/
/flume-ng-configfilters/flume-ng-config-filter-api/target/
/flume-ng-configfilters/flume-ng-environment-variable-config-filter/target/
/flume-ng-configfilters/flume-ng-external-process-config-filter/target/
/flume-ng-configfilters/flume-ng-hadoop-credential-store-config-filter/target/
/flume-ng-configfilters/target/
/flume-ng-configuration/target/
/flume-ng-core/target/
/flume-ng-dist/target/
/flume-ng-embedded-agent/target/
/flume-ng-legacy-sources/flume-avro-source/target/
/flume-ng-legacy-sources/flume-thrift-source/target/
/flume-ng-legacy-sources/target/
/flume-ng-node/target/
/flume-ng-sdk/target/
/flume-ng-sinks/flume-hdfs-sink/target/
/flume-ng-sinks/flume-hive-sink/target/
/flume-ng-sinks/flume-http-sink/target/
/flume-ng-sinks/flume-irc-sink/target/
/flume-ng-sinks/flume-ng-hbase2-sink/target/
/flume-ng-sinks/flume-ng-hbase-sink/target/
/flume-ng-sinks/flume-ng-kafka-sink/target/
/flume-ng-sinks/flume-ng-morphline-solr-sink/target/
/flume-ng-sinks/target/
/flume-ng-sources/flume-jms-source/target/
/flume-ng-sources/flume-kafka-source/target/
/flume-ng-sources/flume-scribe-source/target/
/flume-ng-sources/flume-taildir-source/target/
/flume-ng-sources/flume-twitter-source/target/
/flume-ng-sources/target/
/flume-ng-tests/target/
/flume-shared/flume-shared-kafka/target/
/flume-shared/flume-shared-kafka-test/target/
/flume-shared/target/
/flume-spring-boot/target/
/flume-tools/target/
/target/